<footer class="bg-white pa-69 text-black w-auto border-t-4 border-[#fe6132] ">
    <section class="shopee-footer-section">



        <div class="footer bg-white  text-black">
            <div>

                <a class="link1 link-hover1">Tích điểm Quà tặng VIP</a>
                <a class="link1 link-hover1">Lịch sử mua hàng</a>
                <a class="link1 link-hover1">Tìm hiểu về mua trả góp</a>
                <a class="link1 link-hover1">Chính sách bảo hành</a>
                <a class="link1 link-hover1">Giao hàng & Thanh toán</a>
            </div>
            <div>

                <a class="link1 link-hover1">Giới thiệu công ty (MWG.vn)</a>
                <a class="link1 link-hover1">Tuyển dụng</a>
                <a class="link1 link-hover1">Gửi góp ý, khiếu nại</a>
                <a class="link1 link-hover1">Tìm siêu thị (3.366 shop)</a>
                <a class="link1 link-hover1">Xem bản mobile</a>
            </div>
            <div>
                <a class="link1 link-hover1">Tổng đài hỗ trợ (Miễn phí gọi)</a>
                <a class="link1 link-hover1">Gọi mua: 1800.1060 (7:30 - 22:00)</a>
                <a class="link1 link-hover1">Kỹ thuật: 1800.1763 (7:30 - 22:00)</a>
                <a class="link1 link-hover1">Khiếu nại: 1800.1062 (8:00 - 21:30)</a>
                <a class="link1 link-hover1">Bảo hành: 1800.1064 (8:00 - 21:00)</a>
            </div>


            <div>
                <a class="link1 link-hover1">Thanh toán</a>
                <br />
                <div id="banner" style="overflow: hidden; justify-content: space-around;">
                    <div class="" style="display: inline-block; box-shadow: 0 3px 3px rgba(0,0,0,.2); margin-bottom: 0.5rem; margin-right: 0.5rem; ">
                        <img src="https://cf.shopee.vn/file/d4bbea4570b93bfd5fc652ca82a262a8">
                    </div>
                    <div class="" style="display: inline-block; box-shadow: 0 3px 3px rgba(0,0,0,.2); margin-bottom: 0.5rem; margin-right: 0.5rem; ">
                        <img src="https://cf.shopee.vn/file/a0a9062ebe19b45c1ae0506f16af5c16">
                    </div>
                    <div class="" style="display: inline-block; box-shadow: 0 3px 3px rgba(0,0,0,.2); margin-bottom: 0.5rem; margin-right: 0.5rem; ">
                        <img src="https://cf.shopee.vn/file/38fd98e55806c3b2e4535c4e4a6c4c08">
                    </div>
                </div>
                <div id="banner" style="overflow: hidden; justify-content: space-around;">
                    <div class="" style="display: inline-block; box-shadow: 0 3px 3px rgba(0,0,0,.2); margin-bottom: 0.5rem; margin-right: 0.5rem; ">
                        <img src="https://cf.shopee.vn/file/bc2a874caeee705449c164be385b796c">
                    </div>
                    <div class="" style="display: inline-block; box-shadow: 0 3px 3px rgba(0,0,0,.2); margin-bottom: 0.5rem; margin-right: 0.5rem; ">
                        <img src="https://cf.shopee.vn/file/2c46b83d84111ddc32cfd3b5995d9281">
                    </div>
                    <div class="" style="display: inline-block; box-shadow: 0 3px 3px rgba(0,0,0,.2); margin-bottom: 0.5rem; margin-right: 0.5rem; ">
                        <img src="https://cf.shopee.vn/file/5e3f0bee86058637ff23cfdf2e14ca09">
                    </div>
                </div>

            </div>




        </div>


        <br />
        <br />



    </section>

    <section class="footer \!bg-gray-100 ">
        <div class="footer \!bg-gray-100">
            <div>
                <h1 class="footer \!bg-gray-100"><span style="font-size:14px"><span style="font-family:Roboto,sans-serif"><span style="color: rgba(0,0,0,.54)">Copyright: 2022 Lê Quang Nhật, Trần Hoài Anh Huy, Võ Nhất Huy, Ngọc Huy. Tất cả các quyền được bảo lưu.</span></span></span></h1>
            </div>

        </div>


    </section>

</footer>


